:root {
  /* Cores de Destaque da Marca (Louvre) */
  --cor-louvre-primaria: #CA994D; /* Um tom de Ouro/Ocre (Tussock), muito usado em links e botões de destaque. */
  --cor-louvre-secundaria: #7F5229; /* Um Marrom/Castanho (Nutmeg), usado em detalhes e tons mais escuros. */
  
  /* Cores de Fundo e Texto */
  --cor-louvre-fundo: #FFFFFF; /* Fundo principal claro. */
  --cor-louvre-texto: #000000; /* Cor principal do texto (Preto). */

  /* Cores de Destaque dos botoes */
  --cor-botao-primario: #2D5016; /* Verde escuro elegante (inspirado no Louvre) */
  --cor-botao-primario-hover: #3A6B1C; /* Verde mais claro para hover */
  --cor-botao-secundario: #4A7C59; /* Verde médio para botões secundários */
  --cor-botao-secundario-hover: #5A8C69; /* Verde mais claro para hover secundário */
  --cor-botao-sucesso: #28A745; /* Verde de sucesso */
  --cor-botao-sucesso-hover: #218838; /* Verde de sucesso hover */
}